.wrapper
  margin: 0 auto
  padding: 3em
  width: 95%

.table
  margin: 0 auto
  width: 1000px
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
  display: table
  @media screen and (max-width: 580px)
    display: block

.custom-data 
  width 60%
  height 15.5em
  border 3px solid gray
  border-radius 2px
  margin 0 auto
  padding 2em 0 2em 6.5em
  background-color black

.btn_on 
  background-color gainsboro
  color #4B82B0
  border 3px solid #4B82B0

.btn_off
  background-color #063C5C
  color white
  border:3px solid white;

.row
  display: table-row
  background: #f6f6f6
  &:nth-of-type(odd)
    background: #e9e9e9
  &.a
  &.header
    font-weight: 900
    font-size 1.25em
    color: #ffffff
    background: #2980b9
  &.header:hover
    background: #2980b9
  &.header a 
    color white
    text-decoration none
  @media screen and (max-width: 580px)
    padding: 8px 0
    display: block

.row:hover 
	background-color #B2B2B2

.stat-options 
	width 32%
	display inline-table

#teamCell, #teamHead
  text-align left

.cell
  padding: 0.75em 0 0.75em 1em
  display: table-cell
  font-size 
  text-align center
  font-size 1.15em
  @media screen and (max-width: 580px)
    display: block

.option-button {
/*  
  -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
  -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
  box-shadow:inset 0px 34px 0px -15px #b54b3a;
*/
  display:block;
  cursor:pointer;
  font-family:Trebuchet MS;
  font-size:14px;
  font-weight:bold;
  font-style:italic;
  padding:7px 9px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  width 80%
  margin-bottom 0.25em
}






	