@import '../common'

@media screen and (min-width: 320px) {
  .navbar {
    margin 2.5em 0 1.5em 0
    background-color darkslategray
    font-family fantasy
  }
  .nav-container {
    border-top 5px solid white
    border-bottom 5px solid white
    width 100%
    margin 0 auto
    border-radius 1%
    background-color black
  }

  .title {
    color #063C5C
    text-align center
  }
  .title h1 {
    font-size 2.45em
    font-weight 100
    color cornsilk
  }
  .logo {
    display flex
    justify-content center
    align-items center 
  }

  .logo span {
    margin 0
    margin-bottom 0.25em
    margin-right 1em
    font-size 1.25em
    font-weight 100
    color cornsilk
  }
  .logo img {
    height 32px
  }
}

@media screen and (min-width: 420px) {
  .navbar {
    margin 3.5em 0 2em 0
  }

  .title h1 {
    font-size 2.65em
  }

  .logo span {
    font-size 1.55em
  }

  .logo img {
    height 34px
  }
}

@media screen and (min-width: 600px) {
  .navbar {
    margin 4em 0 2.25em 0
  }

  .title h1 {
    font-size 2.9em
  }

  .logo h2 {
    font-size 1.6em
  }

  .logo img {
    height 35px
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    margin 4.25em 0 2.5em 0
  }

  .title h1 {
    font-size 3.25em
  }

  .logo h2 {
    font-size 1.7em
  }

  .logo img {
    height 40px
    background-color white
    border 2px solid gray
    border-radius 25px
    margin-bottom 1em
  }
}
