.team-top {
	width 100%
	text-align center
	display flex
	align-items center
	justify-content center
}

.team-heading {
	width 25%
	display flex
	justify-content center
	align-items center
}

.team-heading h1 {
	font-size 2.5em
}

.team-logo {
	height 10em
	width 10em
}

.team-logo div {
	background-image url('http://sportsteamhistory.com/images/nfllogos/arizona_cardinals.png')
	width 100%
	height 100%
	background-size contain
	background-repeat no-repeat
}

.team-content {
	width 60%
	margin 0 auto
	margin-top 5em
}